* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: lavender;
}

.banner {
  width: 100%;
  height: 70px;
  background-color: #aa181c;
  padding-left: 2rem;
  padding-top: 0.6rem;
  color: white;
  box-shadow: 0 1px 5px -1px #1a1818;
}

.top-links {
  display: flex;
  justify-content: space-evenly;
  padding-left: 72%;
  padding-right: 5%;
  font-weight: 500;
  font-size: medium;
  margin-top: -2.5%;
  list-style-type: none;
}

a:link,
a:visited,
a.top-links {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(205, 205, 226);
  text-decoration: underline;
}
a.new {
  font-style: oblique;
}
a.click-here {
  color: darkred;
}

.contact {
  background-color: white;
  width: 50%;
  padding-left: 500%;
  padding: 100px;
  font-weight: 200;
  font-size: large;
  margin-left: 25%;
  margin-top: 5%;
  font-weight: 700;
  font-size: large;
  line-height: 40px;
  box-shadow: 0px 0px 20px 10px rgba(127, 125, 130, 0.2);
}

input[type="textarea"],
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: rgb(240, 238, 238);
  border-radius: 10px;
}

input:hover {
  background-color: white;
}

input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  padding-top: 10px;
  margin: 8px 0;
  padding-left: 0%;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #aa181c;
  border-radius: 15px;
  font-size: large;
  font-weight: 500;
  margin-top: 3%;
  color: white;
}
input[type="submit"]:hover {
  background-color: rgb(170, 114, 115);
}
.admin {
  text-align: center;
  margin-top: -10px;
}
.hamburger {
  display: none;
}
@media (min-width: 1300px) and (max-width: 1500px) {
  .top-links {
    margin-top: -3rem;
  }
}
@media (min-width: 851px) and (max-width: 1200px){
  .hamburger {
    display: none;
  }
  .contact {
    width: 600px;
  }
  .top-links {
    margin-top: -3rem;
  }

}

@media (min-width: 671px) and (max-width: 850px) {
  .hamburger {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 26px;
  }
  .nav {
    display: none;
}
    .contact {
    width: 540px;
    margin-left: 7rem;
  
  } 
}
@media (min-width: 481px) and (max-width: 670px) {
  .hamburger {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 26px;
  }
  .nav {
    display: none;
}
    .contact {
    width: 450px;
    margin-left: 70px;
  
  } 
}

@media (max-width: 480px) {

  .hamburger {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 26px;
  }
  .nav {
    display: none;
}
  .contact {
    width: 340px;
    height: 500px;
    font-weight: 200;
    font-size: small;
    margin-left: 35px;
    margin-top: 13%;
    font-weight: 400;
    font-size:medium;
    line-height: 20px;
    padding-left: 0;
    padding: 20px;
  }

  input[type="textarea"],
  input[type="text"] {
    width: 100%;
    padding: 12px 2px;
    margin: 7px 0;
    
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    padding-top: 10px;
    margin: 8px 0;
    padding-left: 0%;
    font-weight: 400;
    margin-top: 30px;
  }

  .admin {
    margin-top: 20px;
    margin-bottom: 40px;
  }