* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

body,
html {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 70px;
  background-color: #aa181c;
  padding-left: 2rem;
  padding-top: 0.6rem;
  color: white;
  box-shadow: 0 1px 5px -1px #1a1818;
  position: relative;
}

.top-links {
  display: flex;
  justify-content: space-between;
  padding-left: 72%;
  padding-right: 5%;
  font-weight: 500;
  font-size: medium;
  margin-top: -3%;
  list-style-type: none;
  position: relative;
}

a:link,
a:visited,
a.top-links {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(187, 187, 209);
}

a.click-here {
  color: darkred;
}

.keyboard {
  width: 100vw;
  height: 50vh;
  box-shadow: 0 1px 5px -1px #232323;
  opacity: 1;
  position: relative;
}
.befor-tabs {
  color: dimgrey;
  text-align: center;
  padding: 2rem;
}

.parent-box {
  padding-left: 2rem;
  margin-top: 1rem;
  display: flex;
  margin-left: 20px;
}
.boxes {
  height: 85%;
  width: 80%;
  padding: 50px;
  margin: 10px;
  text-align: center;
  background-color: white;
  border-radius: 15%;
  box-shadow: 0px 0px 10px 5px rgba(93, 90, 96, 0.2);
}
em {
  color: rgb(137, 132, 132);
}

a.link-box {
  color: rgb(106, 31, 31);
  text-decoration: none;
}
a.link-box :hover {
  color: darkred;
  text-decoration: none;
  background-color: rgb(244, 246, 241);
}
.hamburger {
  display: none;
}
.ask-us {
  margin-top: 3.5rem;
  text-align: center;
  line-height: 0.5;
}

.icon {
  width: 35px;
  height: 35px;
}
.iconn {
  width: 30px;
  height: 30px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: 70px;
  padding: 2px 4px 2px 3px;
  border-radius: 50%;
  font-weight: 300;
  background: red;
  color: white;
}
.inputt {
  width: 35%;
  height: 45px;
  background-color: rgb(238, 232, 232);
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 5px -1px #070707;
  position: absolute;
  top: 1.7%;
  left: 30%;
  padding-left: 2rem;
  font-size: large;
}

.search-but {
  width: 82px;
  height: 47px;
  background-color: transparent;
  color: rgb(33, 31, 31);
  position: absolute;
  border: none;
  top: 1.7%;
  left: 60%;
  opacity: 0.3;
}

.repo {
  position: absolute;
  left: 45.5%;
  top: 37%;
  font-size: 45px;
  font-weight: 900;
  color: #353131;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 2px 1px #661010;
  display: flex;
  justify-content: center;
}
b {
  font-weight: 700;
}
a.crm-links {
  display: flex;
  justify-content: space-between;
  position: absolute;
}
a.d365 {
  color: rgb(65, 61, 61);
  width: 150px;
  height: 20px;
  background-color: rgb(208, 208, 213);
  padding: 15px;
  margin-left: 15rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 1px 5px -1px #302e2e;
  text-shadow: 0.8px 0.5px #864646;
}
a.portal {
  color: rgb(65, 61, 61);
  width: 150px;
  height: 20px;
  background-color: rgb(208, 208, 213);
  padding: 15px;
  margin-left: 42rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 1px 5px -1px #302e2e;
  text-shadow: 0.8px 0.5px #864646;
}
a.d365:hover {
  background-color: rgb(244, 244, 248);
  /* text-decoration: underline transparent; */
}
a.portal:hover {
  background-color: rgb(244, 244, 248);
  /* text-decoration: underline transparent; */
}

@media (min-width: 980px) and (max-width: 1500px) {
  .banner {
    width: 100%;
    height: 70px;
    background-color: #aa181c;
    padding-left: 2rem;
    padding-top: 0.6rem;
    color: white;
    box-shadow: 0 1px 5px -1px #1a1818;
    position: relative;
  }

  .top-links {
    margin-top: -4%;
  }

  .keyboard {
    width: 100vw;
    height: 50vh;
    position: relative;
  }
  .parent-box {
    padding-left: 2rem;
    margin-top: 1rem;
    display: flex;
    margin-left: 20px;
  }
  .boxes {
    height: 85%;
    width: 80%;
    padding: 47px;
    margin: 10px;
  }

  a.link-box {
    color: rgb(106, 31, 31);
    text-decoration: none;
  }
  a.link-box :hover {
    color: darkred;
    text-decoration: none;
    background-color: rgb(244, 246, 241);
  }
  .hamburger {
    display: none;
  }
  .ask-us {
    margin-top: 3.5rem;
    text-align: center;
    line-height: 0.5;
  }

  .notification .badge {
    top: -10px;
    right: 45px;
  }
  .inputt {
    width: 35%;
    height: 43px;
    top: 2.3%;
    left: 30%;
  }

  .search-but {
    top: 1.7%;
    left: 60%;
  }

  .repo {
    left: 41.5%;
    display: flex;
    justify-content: center;
  }
  a.crm-links {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  a.d365 {
    width: 150px;
    height: 20px;
    padding: 15px;
    margin-left: 10rem;
    margin-bottom: 20px;
    width: 150px;
  }
  a.portal {
    width: 150px;
    height: 20px;
    padding: 15px;
    margin-left: 15rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 650px) and (max-width: 979px) {
  .body.html {
    max-width: 100vw;
    position: relative;
    height: 100vh;
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 26px;
  }
  .nav {
    display: none;
  }
  .boxes {
    height: 84%;
    width: 90%;
    padding: 20px;
    margin: 10px;
    margin-left: -16px;
    border-radius: 10px;
  }
  .ask-us {
    margin-bottom: 0px;
  }
  .keyboard {
    width: 100vw;
    height: 45vh;
    position: relative;
  }
  .repo {
    position: absolute;
    left: 37.5%;
    top: 34%;
    font-size: 33px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  .befor-tabs {
    padding: 0%;
  }
  .sterl-logo {
    width: 120px;
    margin-top: 10px;
    margin-left: -20px;
  }
  .search-but {
    width: 40px;
    height: 25px;
    top: 3.5%;
    left: 73%;
  }
  .inputt {
    width: 59%;
    height: 37px;
    top: 2.8%;
    left: 22%;
    font-size: medium;
    margin-left: 15px;
  }
  a.crm-links {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  a.d365 {
    width: 80px;
    height: 25px;
    padding: 8px;
    margin-left: 2rem;
    margin-bottom: 20px;
  }
  a.portal {
    width: 80px;
    height: 20px;
    padding: 8px;
    margin-left: 5rem;
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) and (max-width: 649px) {
  .body.html {
    max-width: 100vw;
    position: relative;
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 26px;
  }
  .nav {
    display: none;
  }
  .parent-box {
    flex-direction: column;
  }
  .boxes {
    height: 20%;
    width: 80%;
    padding: 30px;
    margin: 9px;
    margin-left: 35px;
    border-radius: 25px;
    /* margin-right: 35px; */
  }
  .ask-us {
    margin-bottom: 0px;
  }
  .keyboard {
    width: 100vw;
    height: 35vh;
  }
  .repo {
    position: absolute;
    left: 35.5%;
    top: 29%;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  .befor-tabs {
    padding: 0%;
  }
  .sterl-logo {
    width: 125px;
    margin-top: 10px;
    margin-left: -20px;
  }
  .search-but {
    width: 40px;
    height: 25px;
    top: 37.4%;
    left: 69%;
  }
  .inputt {
    width: 59%;
    height: 33px;
    top: 37%;
    left: 20%;
    font-size: medium;
  }
  .befor-tabs {
    padding: 1rem;
    font-size: 22px;
  }
  a.crm-links {
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
  a.d365 {
    color: rgb(65, 61, 61);
    width: 60px;
    height: 25px;
    padding: 5px;
    margin-left: 0rem;
  }
  a.portal {
    color: rgb(65, 61, 61);
    width: 60px;
    height: 20px;
    padding: 5px;
    margin-left: 1rem;
  }
}

@media (max-width: 489px) {
  .body.html {
    max-width: 100vw;
    position: relative;
  }
  .hamburger {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 26px;
  }
  .nav {
    display: none;
  }
  .parent-box {
    flex-direction: column;
  }
  .boxes {
    height: 20%;
    width: 90%;
    padding: 30px;
    /* margin: 10px; */
    margin-left: 1px;
    border-radius: 25px;
  }
  .ask-us {
    margin-bottom: 0px;
  }
  .keyboard {
    width: 100vw;
    height: 30vh;
  }
  .repo {
    position: absolute;
    left: 9rem;
    top: 26%;
    font-size: 29px;
    font-weight: 500;
  }
  .befor-tabs {
    padding: 0%;
  }
  .sterl-logo {
    width: 100px;
    margin-top: 10px;
    margin-left: -20px;
  }
  .search-but {
    width: 40px;
    height: 25px;
    top: 33.4%;
    left: 65%;
  }
  .inputt {
    width: 59%;
    height: 33px;
    top: 33%;
    left: 20%;
    font-size: medium;
  }
  .befor-tabs {
    padding: 1rem;
    font-size: 22px;
  }
  a.crm-links {
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
  a.d365 {
    display: none;
  }
  a.portal {
    display: none;
  }
}
